body{
    font-family: arial, sans-serif;
}
.main-nav{
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
}
.nav-teal{
    color: #628788;
}
.nav-blue{
    color: #288bcd;
}
.nav-red{
    color: #ee5573;
}
.nav-yellow{
    color: #ffa73a;
}
.nav-link{
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 5px;
    border-radius: 3px;
}
.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
/*--------
HERO STYLES
--------*/
.hero{
    background-image: url(images/city-yellow.jpg);
    min-height: 400px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.hero-blue{
    background-image: url(images/snow-blue.jpg);
}
.hero-red{
    background-image: url(images/mountains-red.jpg);
}
.hero-h1{
    margin:none;
    padding-top: 100px;
}
.left-box{
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.left-box-yellow{
    background-color: #FFA73A;
}
.left-box-red{
    background-color: #ee5573;
}
.left-box-blue{
    background-color: #288bcd;
}
.right-box{
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}
.right-box-yellow{
    border: 2px solid #FFA73A;
}
.right-box-blue{
    border: 2px solid #288bcd;
}
.right-box-red{
    border: 2px solid #ee5573;
}
.main-content{
    text-align: center;
}
